<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"
	type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel= "stylesheet" type="text/css" href = "/css/custom.css"/>
</head>


<body>
	<h1>Form</h1>
	<form id = "signin" action="/welcome/login" method = "POST" >
		
		
			Email: <input type="text" id="email" name= "email" />
		
		
		
		
			Password: <input type="text" id="password" name ="password"  />
		
		
		
			<input type="submit" id="submit1" value="Login" onclick="window.location.href = 'http://localhost:8080/welcome/service';"  /> <input
				type="reset" value="Reset" />
		
		
		<p>
			<input type="button" id="btn1" class ="button" value="Welcome Page" onclick="window.location.href = 'http://localhost:8080/welcome';" /> <input/>
		</p>
	</form>
	
	<form id = "userinfo" action="">
	
	<h1>Result</h1>
   userId: <input type="text" id="userId" name= "UserId" />
		
	businessName: <input type="text" id="businessName" name ="businessName"  />
	
	Email: <input type="text" id="email" name= "email" />
	cost: <input type="text" id="cost" name ="cost"  />
    
	</form>
	
</body>

<script type="text/javascript">
   
	function showAlert(){
    	alert("here 0");
  
    }
    
    
    	 
		$("#submit1").submit(function(){
			
			showAlert();
			
			
			
			
		
		});
 
	});</script>
</html>