<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'userId: ' + ${returnValue1.businessName}" />
     <p th:text="'businessName: ' + ${returnValue1.businessName}" />
    <p th:text="'cost: ' + ${returnValue1.cost}" />
     <p th:text="'email: ' + ${returnValue1.email}" />
    
    <a href="/service">Submit for other Service Category</a>
</body>
</html>